.dialog {
    border-collapse: collapse;
    width: 100%;
}

.dialog td {
    padding: 8px;
}

.question {
    text-align: right;
    width: 150;
    font-weight: bold;
}

.answer {
    text-align: left;
}