#body {
    margin: 0;
    background-color: #ecf0f1;
}

#header {
    min-width: 1100;
    background-color: #2d557f;
    margin: 0;
    height: 50;
    color: white;
    vertical-align: middle;
}

#leftHeader {
    float: left;
    width: 340;
    height: inherit;
    font-family: Arial;
    text-align: right;
    font-size: 16;
}

#centerHeader {
    width: 700;
    height: inherit;
    float: left;
    font-family: Arial;
    text-align: left;
}

#rightHeader {
    width: 60;
    height: inherit;
    font-family: Arial;
    float: right;
}

.button {
    height: inherit;
    background-color: inherit;
    border: none;
    color: white;
    padding: 0px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
}

button:disabled,
button[disabled]{
    color: #666666;
}

.loginButton {
    padding: 0px 16px;
}

.content {
    padding: 12px 16px;
    float: left;
    font-family: Arial;
    font-size: 15;
}
